<div>
  <%= f.label :name, "Name" %><br>
  <%= f.text_field :name, required: true %>
</div>

<div>
  <%= f.label :description, "Description" %><br>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.submit %>
</div>