<div class="container">

  <% if @errors %>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-horizontal">

  <legend>Edit Collection "<%=@collection.name%>"</legend>

    <%= form_for :collection, url: user_collection_path(current_user.id, @collection.id), method: :put, :html => { :multipart => true } do |f| %>

      <div>
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name, required: true %>
      </div>

      <div>
        <%= f.label :description, "Description" %><br>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.submit %>
      </div>

    <% end %>
  <br>
  <div class="btn btn-default">
    <%= link_to "Add Piece", new_user_collection_piece_path(current_user.id, @collection.id) %>
  </div>
    
  </div>

</div>
