<div class="container">

  <h1>Edit Collection: <%=@collection.name%></h1>

  <% if @errors %>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="edit-collection-form">
    <%= form_for :collection, url: user_collection_path(current_user.id, @collection.id), method: :post, :html => { :multipart => true } do |f| %>

      <div>
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :description, "Description" %><br>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.submit %>
      </div>

    <% end %>
  </div>

  <div>
    <a href="/users/:user_id/collections/:collection_id/pieces/new">Add a new piece to the collection</a>
  </div>
</div>
