<div class="container">

  <h1>Add a Collection</h1>

  <% if @errors %>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="new-collection-form">
    <%= form_for [@current_user, @collection], :html => { :multipart => true } do |f| %>

      <div>
        <h5>Name</h5>
        <%= f.text_field :name, required: true %>
      </div>

      <div>
        <h5>Description</h5>
        <%= f.text_field :description %>
      </div>

      <div>
        <%= f.submit "Submit", class: "custom-button"%>
      </div>

    <% end %>
  </div>
</div>
