<div class="container">

  <% if @errors %>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="signup-form">
    <%= form_for :session do |f| %>

      <div>
        <h5>Email</h5>
        <%= f.email_field :email, required: true %>
      </div>

      <div>
        <h5>Password</h5>
        <%= f.password_field :password, required: true %>
      </div>

      <div>
        <%= f.submit class: "custom-button" %>
      </div>

    <% end %>
  </div>

</div>
