<div>
  <div>
    <%= form_for :user, url: users_path, :html => { :mulitpart => true } do |f| %>
      <div>
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :email, "Email" %><br>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password, "Password" %><br>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.file_field :avatar %>
      </div>

      <div>
        <%= f.submit %>
      </div>

    <% end %>
  </div>

  <div>
    <% if @error_message %>
      <div>
        <%= @error_message %>
      </div>
    <% end %>
  </div>

</div>