<body id="show">
<div class="container">
  <div class="user-header">
    <h1><%=@user.name%></h1>
    <%= image_tag @user.avatar.url(:thumb) %>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Collections</a></li>
        <li class="tab col s3 "><a href="#test2">About</a></li>
        <li class="tab col s3"><a href="#test3">Events</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <% @collections.each do |collection| %>
           <li>
             <div class="collapsible-header">
               <%= collection.name %>

                <% if current_user && current_user.id == @user.id %>
                 <a class="dropdown-button waves-effect waves-circle waves-light btn-floating secondary-content settings" href='#' data-activates="collection-<%=collection.id%>"><i class="material-icons icon">settings</i></a>
                 <ul id="collection-<%=collection.id%>" class='dropdown-content'>
                   <li><%= link_to "Edit", edit_user_collection_path(@user.id, collection.id), method: :get %></li>
                   <li class="divider"></li>
                   <li><%= link_to "Delete", user_collection_path(@user.id, collection.id), method: :delete %></li>
                 </ul>
                <% end %>
             </div>
             <div class="collapsible-body">
                <% collection.pieces.each do |piece| %>
                  <%= link_to image_tag(piece.photo.url(:thumb)), user_collection_piece_path(@user.id, collection.id, piece.id) %>
                <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if current_user && current_user.id == @user.id %>
        <div class="add-collection">
          <a href="<%=new_user_collection_path(@user.id)%>">Add a Collection</a>
        </div>
      <% end %>
    </div>
    <div id="test2" class="col s12">
      <div>
        <div>EMAIL: <%= @user.email %></div>
        <div>STATEMENT: <%= @user.statement %></div>
        <div>MEMBER SINCE: <%= @user.created_at.strftime("%B %-d, %Y") %></div>
      </div>
    </div>
    <div id="test3" class="col s12"> Come to my show </div>
  </div>



</div>
</body>
