<body id="show">
<div class="container">
  <div class="user-header">
    <h1 class="col-xs-4 "><%=@user.name%></h1>
    <h1 id="profile_avatar" class="col-xs-offset-3 col-sm-offset-6"><%= image_tag @user.avatar.url(:thumb) %></h1>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a id="tab_color" href="#test1">Collections</a></li>
        <li class="tab col s3"><a id="tab_color" href="#test2">About</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        <% @collections.each do |collection| %>
           <li>
             <div class="collapsible-header">

                 <%= collection.name %>

                <% if current_user && current_user.id == @user.id %>
                   <button class="secondary-content btn-xs settings"><%= link_to "Edit", edit_user_collection_path(@user.id, collection.id), method: :get %></button>
                <% end %>
             </div>
             <div class="collapsible-body">
                <% collection.pieces.each do |piece| %>

                  <%= link_to image_tag(piece.photo.url(:thumb)), user_collection_piece_path(@user.id, collection.id, piece.id) %>

                <% end %>
                <div id="friend_link" class="btn btn-default">
                  <% if current_user.artist? %>
                    <%= link_to "Add Piece", new_user_collection_piece_path(@user.id, collection.id) %>
                  <% end %>
                </div>
            </div>
          </li>
        <% end %>
      </ul>
        <div class="artist-options">
          <% if current_user && current_user.id == @user.id %>
            <a href="<%=new_user_collection_path(@user.id)%>"><i id="add" class="medium material-icons icon_color">library_add</i></a>
          <% end %>
          <% if current_user && @user.artist && !current_user.friends.find_by(friend_id: @user.id)  %>
            <a href="<%=new_user_friend_path(@user.id)%>"><i class="follow secondary-content medium material-icons icon_color">favorite_border</i></a>
          <% elsif current_user && @user.artist %>
            <a href="<%=edit_user_friend_path(@user.id, current_user.id)%>"><i class="unfollow secondary-content medium material-icons icon_color">favorite</i></a>
          <% end %>
        </div>
    </div>
    <div id="test2" class="col s12">
      <div class="row">
        <div class="col s12 m6">
          <div class="card ">
            <div class="card-content white-text">
              <div class="media">
                <div class="media-left">
                  <% if @user.artist %>
                    <a href="#">
                      <div class="media-object"><%= image_tag @user.profile.headshot.url(:thumb) %></div>
                    </a>
                  <% end %>
                </div>
                <div class="media-body">
                  <h5 class="card-title white-text">My Statement</h5>
                  <div class="hline"></div>
                  <p><%= @user.statement %></p>
                </div>
              </div>

              <div id="info">
                <div><i class="material-icons">email</i> <%= @user.email %></div>
                <% if @user.artist? %>
                  <div>Primary Medium: <%= @user.profile.primary_medium %></div>
                  <div>Website: <%= @user.profile.website_url %></div>
                <% end %>
                <div>Member Since: <%= @user.created_at.strftime("%B %-d, %Y") %></div>
                <% if current_user && current_user.id == @user.id %>
                <button class="secondary-content btn-xs settings" id="edit_button"><%= link_to 'Edit Profile', edit_user_path(@user) %></button>
                <% end %>
              </div>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div id="friend_card" class="card">
            <div class="card-content">
                <div class="media-body">
                  <h5 id="friend_text" class="card-title">Artists I Follow</h5>
                  <div id="friend_line" class="hline"></div>
                </div>
              </div>

              <div id="info_friends">
                <% @friends.each do |friend| %>
                  <h4 id="friend_link"><%= link_to friend.friend.name, user_path(friend.friend.id) %></h4>
                  <br>
                <% end %>
              </div>
            </div>
            <div class="card-action">
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
</body>
