<h1>Art Events Near You</h1>

<%= form_tag(events_search_path, method: :get) do %>
  <%= label_tag(:zip, "Zip:") %>
  <%= text_field_tag(:zip) %>
  <%= label_tag(:distance, "Distance:") %>
  <%= text_field_tag(:distance) %>
  <%= submit_tag("Search") %>
<% end %>
