<h1 class="col-sm-8 city" id="<%=@city_coordinates%>">Results for '<%=@city%>'</h1>
<div class="col-sm-2"></div>


<div class="col-md-1"></div>
<div class="col-md-5">
<div id="map"></div>
</div>
<div class="col-md-1"></div>
<div class="col-md-5">
<ul class="collapsible" data-collapsible="expandable">
  <% @results.each do |result| %>
    <li>
      <div class="collapsible-header">
        <div class="location" id="<%=result["venue"]["lat"]%>,<%=result["venue"]["lon"]%>"><a href="<%=result["event_url"]%>"><%= result["name"] %></a></div>
        <div><%="#{result["venue"]["name"]} | #{result["venue"]["address_1"]} | #{result["venue"]["city"]} #{result["venue"]["state"]}"%></div>
      </div>
      <div class="collapsible-body">
        <div><%=result["description"].html_safe%></div>
      </div>
    </li>
  <% end %>
</ul>
</div>
