<div>
  <%= f.label :title, "Title" %><br>
  <%= f.text_field :title, required: true %>
</div>

<div>
  <%= f.label :year, "Year" %><br>
  <%= f.text_field :year %>
</div>

<div>
  <%= f.label :medium, "Medium" %><br>
  <%= f.text_field :medium %>
</div>

<div>
  <%= f.label :size, "Dimensions" %><br>
  <%= f.text_field :size %>
</div>

<div>
  <%= f.label :description, "Remarks" %><br>
  <%= f.text_field :description %>
</div>