<div>
  <h5>Title</h5>
  <%= f.text_field :title %>
</div>

<div>
  <h5>Year</h5>
  <%= f.text_field :year %>
</div>

<div>
  <h5>Medium</h5>
 <%= f.text_field :medium %>
</div>

<div>
  <h5>Dimensions</h5>
  <%= f.text_field :size %>
</div>

<div>
  <h5>Remarks</h5>
  <%= f.text_area :description %>
</div>