<div>
  <%= image_tag @piece.photo.url(:large) %>
  <%= @piece.title %>
  <div>
    <%= form_for :piece, url: user_collection_piece_path(@user.id, @collection.id, @piece.id), method: :patch, :html => { :multipart => true } do |f| %>

      <%= render partial: 'form', locals: { f: f } %>


      <div>
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>
