<h1>the pieces/new form </h1>
<div>

  <% if @errors %>
    <ul class="errors">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>


  <div>
    <%= form_for :piece, url: user_collection_pieces_path, :html => { :multipart => true } do |f| %>

    <div>
      <%= f.label :title, "Title" %><br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :size, "Size" %><br>
      <%= f.text_field :size %>
    </div>

    <div>
      <%= f.label :medium, "Medium" %><br>
      <%= f.text_field :medium %>
    </div>

    <div>
      <%= f.label :description, "Description" %><br>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.file_field :photo %>
    </div>

    <div>
      <%= f.submit %>
    </div>

    <% end %>
  </div>
</div>