<div class="container">

  <div>
    <img class="materialboxed" src="<%=@piece.photo.url(:large)%>">
  </div>

  <div>
    Title: "<%= @piece.title %>"
  </div>

  <div>
    Dimensions: <%= @piece.size %>
  </div>

  <div>
    Medium: <%= @piece.medium %>
  </div>

  <div>
    Description: <%= @piece.description %>
  </div>

  <% if current_user && current_user.id == @user.id %>
    <div>
      <%= link_to 'Edit', edit_user_collection_piece_path(@user.id, @collection.id, @piece.id) %> |
      <%= link_to 'Delete', user_collection_piece_path(@user.id, @collection.id, @piece.id), method: :delete %>
    </div>
  <% end %>

</div>
