<div class="container">

  <div>
    <img class="materialboxed" src="<%=@piece.photo.url(:large)%>">
  </div>

  <div>
    Title: "<%= @piece.title %>"
  </div>

  <div>
    Year: <%= @piece.year %>
  </div>

  <div>
    Medium: <%= @piece.medium %>
  </div>

  <div>
    Dimensions: <%= @piece.size %>
  </div>

  <div>
    Remarks: <%= @piece.description %>
  </div>

  <% if current_user && current_user.artist == nil %>
    <div>
      <%= link_to 'Curate Item', add_to_collection_user_collection_piece_path(current_user.id, @collection.id, @piece.id), id: "addToCollection" %>
    </div>
  <% end %>

  <% if current_user && current_user.id == @user.id && current_user.artist == true %>
    <div>
      <%= link_to 'Edit', edit_user_collection_piece_path(@user.id, @collection.id, @piece.id) %> |
      <%= link_to 'Delete', user_collection_piece_path(@user.id, @collection.id, @piece.id), method: :delete %>
    </div>
  <% end %>

  <div id="addCollections">

  </div>

</div>
