<!DOCTYPE html>
<html>
<head>
  <title>Galleria Mia</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/welcome/index" class="brand-logo center">Galleria Mia</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if current_user %>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        <li><%= link_to 'Artists', artists_path %></li>
        <li><form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form></li>
      </ul>
      <ul  class="side-nav" id="mobile-demo">
        <% if current_user %>
          <li><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
        <li><%= link_to 'Artists', artists_path %></li>
        <li><form>
          <div class="input-field">
            <input id="search" type="search" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form></li>
      </ul>
    </div>
  </nav>



  <% if current_user %>
    <%= image_tag current_user.avatar.url(:thumb) %> | <a href="/users/<%= current_user.id %>"><%= current_user.name %></a>
  <% end %>

<%= yield %>

</body>
<footer class="page-footer">
          <div class="container">
            <div class="row">

              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><a href="/welcome/index">Galleria Mia</a></h5>
                <ul id="foot_link" class="right">
                  <li><%= link_to 'Artists', artists_path %></a></li>
                  <li><form>
                    <div class="input-field">
                      <input id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form></li>
                </ul>
              </div>
            </div>
          </div>

        </footer>

</html>
